@import "../../queries.scss";
@import "../../colors.scss";
@import "../../margins.scss";

.component {
  margin: $margin-bottom-h2-xs 0;
}
.photos {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.photo {
  position: relative;
  min-width: 320px;
  min-height: 320px;
}
.contacts {
  display: flex;
  flex-direction: column;
}
.text {
  display: flex;
  flex-direction: column;
  h2,
  p {
    margin-bottom: $margin-bottom-h2-xs;
  }
}
.logos {
  display: flex;
  flex-direction: row;
}
.logo {
  position: relative;
  width: 30px;
  height: 30px;
  margin-right: 20px;
}

