@import "../../queries.scss";
@import "../../colors.scss";
@import "../../margins.scss";

.component {
  margin: $margin-bottom-h2-xs 0;
}
.photos {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.photo {
  position: relative;
  min-width: 320px;
  min-height: 320px;
}
.contacts {
  display: flex;
  flex-direction: column;
}
.text {
  display: flex;
  flex-direction: column;
  h2,
  p {
    margin-top: $margin-bottom-h2-xs;
  }
  @media (min-width: $xl) {
    p {
      font-weight: 300;
      font-size: 16px;
      line-height: 30px;
    }
  }
}
.logos {
  display: flex;
  flex-direction: row;
  margin-top: 20px;

  @media (min-width: $xl) {
    margin-top: 70px;
  }
}
.logo {
  position: relative;
  width: 30px;
  height: 30px;
  margin-right: 20px;

  @media (min-width: $xl) {
    width: 50px;
    height: 50px;
    margin-right: 40px;
  }
}

