@import '../../margins.scss';

.component {
  margin: $margin-top-xs 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image {
  position: relative;
  width: 100px;
  height: 100px;
}