@import "../colors.scss";
@import '../queries.scss';

.component {
  all: unset;
  cursor: pointer;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-items: center;
  background-color: $green;
  p {
    color: white;
    text-transform: uppercase;
    font-weight: 300;
  }
  width: 120px;
  height: 60px;
}
.long {
  all: unset;
  cursor: pointer;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-items: center;
  background-color: $green;
  p {
    color: white;
    text-transform: uppercase;
    font-weight: 300;
  }
  width: 190px;
  height: 60px;

  @media (min-width: $xl) {
    width: 386px;
  }
}
.booking_card {
  all: unset;
  cursor: pointer;
  display: flex;
  flex-direction: row;

  justify-content: center;
  align-items: center;
  justify-items: center;
  background-color: $green;
  p {
    color: white;
    text-transform: uppercase;
    font-weight: 300;
  }
  width: 100%;
  height: 40px;
}
.coupon {
  all: unset;
  cursor: pointer;
  display: flex;
  flex-direction: row;

  justify-content: center;
  align-items: center;
  justify-items: center;
  background-color: $green;
  p {
    color: white;
    text-transform: uppercase;
    font-weight: 300;
  }
  width: 25%;
  height: 40px;
}
.confirm {
  all: unset;
  cursor: pointer;
  display: flex;
  flex-direction: row;

  justify-content: center;
  align-items: center;
  justify-items: center;
  background-color: $green;
  p {
    color: white;
    text-transform: uppercase;
    font-weight: 300;
  }
  width: 100%;
  height: 40px;
}
.read_button {
  all: unset;
  cursor: pointer;
  display: flex;
  flex-direction: row;

  justify-content: center;
  align-items: center;
  justify-items: center;
  background-color: $green;
  p {
    color: white;
    text-transform: uppercase;
    font-weight: 300;
  }
  width: 100%;
  height: 40px;

  @media (min-width: $sm) {
    width: 100px;
    align-self: flex-end;
  }
}