@import "../queries.scss";
@import "../colors.scss";
@import "../margins.scss";

.button {
  margin: $margin-top-xs 0;

  @media (min-width: $sm) {
    margin: 0;
  }
}
.image {
  position: relative;

  @media (min-width: $xs) {
    width: 240px;
    height: 100px;
  }
  @media (min-width: $xl) {
    width: 386px;
    height: 188px;
  }
}