@import "../queries.scss";
@import "../colors.scss";
@import "../margins.scss";

.button {
  margin: $margin-top-xs 0;

  @media (min-width: $sm) {
    margin: 0;
  }
}
.image {
  position: relative;
  width: 190px;
  height: 80px;
}