.component {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}
.line {
  height: 1px;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 30px 0;
}
.message {
  all: unset;

  border: 1px solid gray;
  padding: 10px;
  height: 100px;
}