@import '../../queries.scss';

.component {
  margin: 30px 0;

  @media (min-width: $sm) {
    display: grid;
    grid-template-columns: 50% 40%;
    column-gap: 10%;
  }
  @media (min-width: $xl) {
    margin: 0 0 100px 0;
    display: grid;
    grid-template-columns: 55% 35%;
    column-gap: 10%;
  }
}
