@import "../queries.scss";
@import "../colors.scss";
@import "../margins.scss";

.background {
  background-color: $green;
}
.footer {
  h2,
  p {
    color: white;
    margin-bottom: $margin-bottom-h2-xs;
  }
  margin-top: auto;

  width: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(2, 150px);

  @media (min-width: $sm) {
    grid-template-columns: 45% 45%;
    column-gap: 10%;
    grid-template-rows: repeat(2, 100px);
  }
  @media (min-width: $lg) {
    grid-template-columns: 65% 30%;
    column-gap: 10%;
    grid-template-rows: repeat(2, 100px);
  }
  @media (min-width: $xl) {
    height: 477px;
    padding-top: 40px;
    grid-template-columns: 45% 45%;
    column-gap: 10%;
    grid-template-rows: repeat(2, 200px);
  }
}
.newsletter {
  display: flex;
  flex-direction: column;
  p {
    margin-top: $margin-bottom-h2-xs;
  }
  @media (min-width: $xs) {
    margin-top: 50px;
  }
  @media (min-width: $xl) {
    margin-top: 50px;
    h2 {
      margin-bottom: 40px;
    }
    p {
      font-weight: 300;
      font-size: 16px;
      line-height: 30px;
      width: 418px;
    }
  }
}
.docs {
  display: flex;
  flex-direction: column;
}
.list {
  display: flex;
  flex-direction: column;

  @media (min-width: $xs) {
    margin-top: 30px;
  }
  @media (min-width: $sm) {
    flex-direction: row;
    p {
      margin-right: 30px;
    }
  }
  @media (min-width: $sm) {
    flex-direction: column;
  }
  @media (min-width: $xl) {
    margin-top: 50px;
    flex-direction: row;
    p {
      margin: 0 30px 60px 0;
    }
  }
}
.logos {
  display: flex;
  flex-direction: row;

  @media (min-width: $xl) {
    justify-content: flex-end;
  }
}
.logo {
  position: relative;
  width: 30px;
  height: 30px;
  margin-right: 20px;

  @media (min-width: $xl) {
    width: 48px;
    height: 48px;
    margin-right: 40px;
  }
}
.copyright {
  margin-top: 40px;

  @media (min-width: $sm) {
    margin-top: auto;
  }
}

