@import "../queries.scss";
@import "../colors.scss";
@import "../margins.scss";

.component {
  padding: $margin-top-xs 0;
  background-color: $green;

  h2,
  p {
    color: white;
    margin-bottom: $margin-bottom-h2-xs;
  }
}
.footer {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(2, 150px);

  @media (min-width: $sm) {
    grid-template-columns: 45% 45%;
    column-gap: 10%;
    grid-template-rows: repeat(2, 100px);
  }
}
.newsletter {
  display: flex;
  flex-direction: column;
  p {
    margin-top: $margin-bottom-h2-xs;
  }
}
.docs {
  display: flex;
  flex-direction: column;
}
.list {
  display: flex;
  flex-direction: column;

  @media (min-width: $sm) {
    flex-direction: row;
    p {
      margin-right: 30px;
    }
  }
}
.logos {
  display: flex;
  flex-direction: row;
}
.logo {
  position: relative;
  width: 30px;
  height: 30px;
  margin-right: 20px;
}
.copyright {
  margin-top: 40px;

  @media (min-width: $sm) {
    margin-top: auto;
  }
}
