@import "../queries.scss";
@import "../colors.scss";
@import "../margins.scss";

.component {
  height: 70vh;
  width: 100vw;
  position: relative;

  h1,
  h2,
  p {
    color: white;
  }
}
.wrapper {
  height: 100%;
  width: 100%;
}
.header {
  h2 {
    font-size: 50px;
    line-height: 50px;
    font-weight: 300;

    @media (min-width: $xs) {
      width: 260px;
      margin-bottom: $margin-bottom-h2-xs;
    }
    @media (min-width: $sm) {
      width: 600px;
      margin-bottom: $margin-bottom-h2-xs;
    }
  }

  @media (min-width: $xs) {
    margin: 50px 0 0 0;
  }

}
.subheader {
  p {
    font-weight: 400;

    @media (min-width: $xs) {
      width: 260px;
    }
    @media (min-width: $sm) {
      width: 600px;
      margin-bottom: $margin-bottom-h2-xs;
    }
  }
}
.button {
  margin-top: 20px;
  display: inline-block;
}
.bt-header {
  appearance: none;
  background-color: $green;
}
