@import '../margins.scss';
@import '../queries.scss';

.component {
  position: relative;
  min-width: 320px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (min-width: $sm) {
    margin-bottom: $margin-top-xs;
  }
}
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 200px;
  h2 {
    font-size: 40px;
    color: white;
  }
}
.text {
  display: flex;
  flex-direction: row;
  align-items: center; 
  p {
    color: white;
  }
  margin: $margin-bottom-h2-xs 0;
}
.icon {
  position: relative;
  height: 20px;
  width: 10px;
  margin-right: 10px;
}
.buttons {
  display: flex;
  flex-direction: column;

  @media (min-width: $sm) {
    flex-direction: row;
  }

  button {
    @media (min-width: $sm) {
      margin: 0 20px;
    }
  }
}
