@import '../queries.scss';
@import '../colors.scss';
@import '../margins.scss';

.component {
  h1,
  h2,
  p {
    color: black;
  }
  margin-top: $margin-top-xs;
}
.text {
  display: flex;
  flex-direction: column;
  h2, 
  p {
    margin-bottom: $margin-bottom-h2-xs;
  }
}
.paragraph {
  display: flex;
  flex-direction: column;
}
.photos {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: $margin-top-xs;
}
.image {
  position: relative;

  @media (min-width: $xs) {
    height: 290px;
    width: 290px;
    margin-bottom: $margin-bottom-h2-xs;
  }
}
.photo {
  position: relative;
  
  @media (min-width: $xs) {
    height: 290px;
    width: 290px;
    margin: $margin-bottom-h2-xs 0 $margin-bottom-h2-xs 0;
  }
}