@import "../margins.scss";
@import "../colors.scss";
@import '../queries.scss';

.component {
  background-color: $lightgreen;
}
.map {
  min-width: 320px;
  min-height: 320px;
  filter: brightness(80%) grayscale(40%);

  @media (min-width: $sm) {
    width: 100%;
    height: 100%;
  }
}
.mapfullscreen {
  width: 100%;
  height: 620px;
  filter: brightness(80%) grayscale(40%);
}
