@import '../queries.scss';

.component {
  height: 30px;

  @media (min-width: $sm) {
    height: 80px;
  }
  @media (min-width: $lg) {
    height: 100px;
  }
  @media (min-width: $xl) {
    height: 150px;
  }
}