@import "../queries.scss";
@import "../colors.scss";
@import "../margins.scss";

.componentphone {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 8px 0;
}
.logo {
  position: relative;
  width: 80px;
  height: 60px;
}
.navphone {
  p {
    text-transform: uppercase;
    padding-bottom: $margin-bottom-h2-xs;
  }
}
.smalllogo {
  position: relative;
  width: 20px;
  height: 20px;
  margin-bottom: $margin-bottom-h2-xs;
}
.smalllogonav {
  position: relative;
  width: 20px;
  height: 20px;
}

.component {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: $margin-top-xs 0;
}
.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  p {
    text-transform: uppercase;
    margin-right: $margin-bottom-h2-xs;
  }
}
