@import "../queries.scss";
@import "../colors.scss";
@import "../margins.scss";

.component {
  display: flex;
  flex-direction: column;
  margin-top: $margin-top-xs;

  @media (min-width: $sm) {
    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: $xl) {
    margin: 0 0 150px 0;
    height: 438px;
  }
}
.text {
  display: flex;
  flex-direction: column;
  h2,
  p {
    margin-bottom: 10px;
  }

  @media (min-width: $sm) {
    width: 290px;
    justify-content: center;
  }

  @media (min-width: $xl) {
    width: 465px;   
    margin: 150px 0;
    h1 {
      font-weight: 300;
      font-size: 30px;
      line-height: 30px;
      padding-bottom: 20px;
    }
    h2 {
      font-weight: 400;
      font-size: 40px;
      line-height: 40px;
    }
    p {
      font-weight: 300;
      font-size: 16px;
      line-height: 30px;
      padding-bottom: 20px;
    }
  }
}
.link {
  text-decoration: underline;
}
.photo {
  position: relative;
  width: 290px;
  height: 290px;
  margin-bottom: $margin-top-xs;


  @media (min-width: $xl) {
    width: 600px;
    height: 438px;
  }
}
