@import "../queries.scss";
@import "../colors.scss";
@import "../margins.scss";

.component {
  display: flex;
  flex-direction: column;
  margin-top: $margin-top-xs;

  @media (min-width: $sm) {
    flex-direction: row;
    justify-content: space-between;
  }
}
.text {
  display: flex;
  flex-direction: column;
  h2,
  p {
    margin-bottom: 10px;
  }

  @media (min-width: $sm) {
    width: 290px;
    justify-content: center;
  }
}
.photo {
  position: relative;
  width: 290px;
  height: 290px;
  margin-bottom: $margin-top-xs;
}
