@import "../queries.scss";
@import "../colors.scss";
@import "../margins.scss";

.component {
  display: flex;
  flex-direction: column;
}
.text {
  display: flex;
  flex-direction: column;
  h2,
  p {
    margin-bottom: 10px;
  }
  margin-top: $margin-top-xs;
}
.photo {
  position: relative;
  width: 290px;
  height: 290px;
  margin-top: $margin-top-xs;
}
