@import "../margins.scss";
@import '../queries.scss';

.component {
  display: flex;
  flex-direction: column;
  margin: $margin-top-xs 0;
  h1 {
    margin-bottom: $margin-top-xs;
  }

  @media (min-width: $sm) {
    flex-direction: row;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    h1 {
      width: 290px;
      color: #5B6460;
    }
  }
  @media (min-width: $xl) {
    margin: 150px 0 0 0;
    h1 {
      width: 424px;
      font-style: normal;
      font-weight: 400;
      font-size: 40px;
    }
  }
}
.text {
  margin: $margin-top-xs 0;
}
.image {
  position: relative;
  width: 290px;
  height: 300px;

  @media (min-width: $sm) {
    width: 300px;
  }
  @media (min-width: $xl) {
    height: 440px;
    width: 450px;
  }
}
