@import '../../margins.scss';
@import '../../queries.scss';

.component {
  display: flex;
  flex-direction: column;
  margin-top: $margin-top-xs;

  @media (min-width: $sm) {
    width: 290px;
  }
  @media (min-width: $xl) {
    width: 429px;
    justify-content: center;
    margin: 0;
    padding-bottom: 30px;
    h2 {
      font-weight: 400;
      font-size: 40px;
      line-height: 40px;
      margin-bottom: 50px;
    }
    p {
      font-weight: 300;
      font-size: 16px;
      line-height: 30px;
    }
  }
}
.links {
  display: flex;
  flex-direction: row;
  margin: $margin-bottom-h2-xs 0;
  cursor: pointer;
  p {
    margin-right: $margin-bottom-h2-xs;
  }

  @media (min-width: $xl) {
    margin-bottom: 50px;
  }
}
.underlined {
  p {
    text-decoration: underline;
  }
}
.description {
  height: 150px;
}
