@import '../../margins.scss';
@import '../../queries.scss';

.component {
  display: flex;
  flex-direction: column;
}
.image {
  position: relative;
  width: 290px;
  height: 290px;

  @media (min-width: $xl) {
    width: 546px;
    height: 547px;
  }
}
.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: $margin-top-xs;

  p {
    font-size: 10px;
  }
}
.arrows {
  display: flex;
  flex-direction: row;
}
.arrow {
  position: relative;
  height: 10px;
  width: 20px;
  margin-right: $margin-top-xs;
}