/* @import url("../node_modules/antd/dist/reset.css"); */
@import url("../node_modules/antd/dist/reset.css");

/* Components  */
@import "./components/Header.module.scss";
@import "./components/Main.module.scss";
@import "./components/Map.module.scss";
@import "./components/Facilities.module.scss";
@import "./components/Contacts.module.scss";
@import './components//Layout.module.scss';

@import './components/Slider.module.scss';

/* Reset  */
h1,
h2,
p {
  margin: 0;
  padding: 0;
}
h1,
h2 {
  font-weight: 300;
}
p {
  font-style: normal;
  font-weight: 300;
}
